body {
    background: black;
    color: white;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size: 11px;
}

.fearImg {
    position: absolute;
    top: 100px;
    left: 100px;
}


.hidden {
    visibility: hidden;
}
